.title {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subtitle {
    display: flex;
    justify-content: center;
}

.button-pad {
    margin-top: 15px;
}

.form-spacing {
    margin-top: 15px;
    margin-bottom: 20px;
}

.health-button {
    color: #fff;
    font-weight: bold;
    background-color: #573b8a;
}
