.carousel-inner {
    height: 500px;
}

.card {
    width: 18rem;
    padding: 50px;
    box-shadow: 5px 20px 50px #000;
    border-radius: 10px;
}

.home-page-btn {
    color: #fff;
    font-weight: bold;
    background-color: #573b8a;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    place-items: center;
    margin-bottom: 100px;
}

.title {
    font-size: 80px;
}

#signup-form {
    justify-content: center;
}

.form-control {
    margin: 5px;
    padding: 10px;
    width: 100%;
}

.signup-form-body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
.main {
    width: 350px;
    height: 500px;
    background: white;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}
#chk {
    display: none;
}
.signup {
    position: relative;
    width: 100%;
    height: 100%;
}
.signup-form-label {
    color: #573b8a;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.signup-form-input {
    width: 60%;
    height: 10px;
    background: #e0dede;
    display: flex;
    margin: 10px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.signup-form-button {
    width: 57%;
    height: 40px;
    margin: 10px auto;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-in;
    cursor: pointer;
}
.signup-form-button:hover {
    background: #6d44b8;
}
.login {
    height: 460px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-90px);
    transition: 0.8s ease-in-out;
}
.login label {
    color: #573b8a;
    transform: scale(0.6);
    margin-top: 20px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#chk:checked ~ .login {
    transform: translateY(-400px);
}
#chk:checked ~ .login label {
    transform: scale(1);
}
#chk:checked ~ .signup label {
    transform: scale(0.6);
}

.error-message {
    width: 300px;
    height: 75px;
    text-align: center;
}

.close {
    position: 'absolute';
    top: '0';
    right: '0';
    margin: '5px';
}
